@media only screen and (max-width:850px){
    /* --------------navigation bar--------- */

     .navcon li:first-child{
         border-bottom-left-radius: 0rem;    
     }
     .navcon li:nth-child(4){
         border-bottom-left-radius: 2em;
     }
     .navcon li{
        margin-bottom: 0.5rem;
        margin-right: 1.5rem;
     }
     .navcon li a{
         font-size: 1rem;
     }
     .navcon li a:nth-child(1){
         padding: 0.5rem;
     }
    /* ------------portfolio---------- */
    .portfolio{
        font-size: 3rem;
        padding-top: 8rem;
    }
    /* ---------------introduction------- */
    .intro1{
        padding: 3rem 0.5rem;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 0rem;
    margin-right: 22rem;
    margin-left: -2rem;
    }
    .intro2{
        margin-top: -8rem;
        margin-right: 22rem;
        margin-left: -2rem;
    }
    .intro2 img{
        width: 100%;
    }
    /* ---------------education---------- */
    .edu{
        margin-left: 0rem;
        row-gap: 2rem;
        }
    .edu1{
        font-size: 1.1rem;
        margin-right: 7rem;
         }
    .fa{
        font-size: 3rem;
    }
    /* -----------hobby---------------- */
    .hobby{
        margin-left: 0rem ;
    }
    .hobby1{
        font-size: 1.5rem;
    }
    .bi{
        font-size: 2rem;
        padding-right: 20px;
    }
    /* ---------soft skill------------ */
    .soft{
        margin-left: 0rem;
    }
    .soft1{
        font-size: 1.5rem;
    }
    #bi1{
        font-size: 2rem;
        padding-right: 20px;
    }
    /* -----------gallery--------- */
    .gallery{
        margin-left: 0rem;
    }
    .gallery1{
        width: 18rem;
    }
    .gallery1 img{
        width: 18rem;
    }
    /* ----------socialtags----------- */
    .heading{
        font-size: 1.5rem;
    }
    #bi2{
        margin-right: 10px;
        font-size: 1.5rem;
    }
    /* ----------devloper---------------- */
    .devloper{
        font-size: 1.5rem;
    }
    hr{
        width: 50%;
        margin-left: 3rem;
    }
}